Source: audiomanager
Section: libdevel
Priority: optional
Maintainer: Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper-compat (= 12),
 cmake,
 qtbase5-dev,
 libpulse-dev,
 libpulse0
Standards-Version: 4.5.0

Package: libaudiomanager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Tool Kit template library
 libaudiomanager is base library of Deepin Qt/C++ applications.
 .
 This package contains the shared libraries.

Package: libaudiomanager-dev
Architecture: any
Depends:${misc:Depends}, libaudiomanager( =${binary:Version})
Description: Deepin Tool Kit template devel library
 libaudiomanager-dev is base devel library of Deepin Qt/C++ applications.
 .
 This package contains the header files and static libraries.
